### 1. Import dataset

In [3]:
import pandas as pd

# Load the Excel file
file_path = '/Users/ashvinaahragunathan/Downloads/online_retail/data/online_retail_II.xlsx'
df = pd.read_excel(file_path, sheet_name='Year 2010-2011')

# Preview
print(df.shape)
df.head()

(541910, 8)

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

### 2. Cleaning Data

In [4]:
# Remove missing Customer IDs
df = df[df['Customer ID'].notnull()]

# Remove negative or zero quantities
df = df[df['Quantity'] > 0]

# Remove negative or zero prices
df = df[df['Price'] > 0]

# Add total sales value column
df['Total'] = df['Quantity'] * df['Price']

# Convert to datetime
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'])

# Extract year-month for analysis
df['YearMonth'] = df['InvoiceDate'].dt.to_period('M')

In [5]:
df.to_csv('cleaned_online_retail.csv', index=False)